body {
	padding: 10px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
}

h2 {
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	margin: 5px 20px 5px 20px;
}

p {
	text-align: left;
	padding: 10px 30px;
}

ul {
	text-align: left;
	padding: 5px 60px;
}

li {
	list-style-type: disc;
}

span {
	display: inline-block;
}

form {
	text-align: left;
	padding: 0px 30px;
}

#slider {
	width: 800px;
	height: 600px;
}

.anythingSlider-default.activeSlider .anythingWindow {
	border-color: #FFFFFF;
}

#center {
	width: 800px;
	/*height: 600px;*/
	margin-left: auto;
	margin-right: auto;
}

div.header {
	height: 90px;
	line-height: 90px;
	width: 100%;
	background: #000000 url(../images/cyclone_tcp_white.png) no-repeat 30px 5px;
	text-align: right;
	border-radius: 30px 30px 0px 0px;
	-moz-border-radius: 30px 30px 0px 0px;
	-webkit-border-radius: 30px 30px 0px 0px;
}

div.headerText {
	margin-right: 30px;
	font-size: 24px;
	font-weight: bold;
	color: white;
}

div.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/*margin: 0 auto -160px*/;
	background-color: #FAFAFA;
	text-align: center;
	/*padding: 10px;*/
}

div.footer {
	height: 60px;
	line-height: 60px;
	width: 100%;
	background: #000000 url(../images/oryx_embedded_white.png) no-repeat 30px 5px;
	text-align: right;
	border-radius: 0px 0px 30px 30px;
	-moz-border-radius: 0px 0px 30px 30px;
	-webkit-border-radius: 0px 0px 30px 30px;
}

div.footerText {
	margin-right: 30px;
	font-size: 14px;
	color: white;
}

table.dataTable {
	background: none;
	border: 0px;
	margin-left: auto;
	margin-right: auto;
}

.dataTable th {
	border: 0px;
	padding: 5px;
	background-color: #000000;
	color: #FFFFFF;
	font-weight: normal;
}

.dataTable td {
	border: 0px;
	padding: 3px;
	background-color: #FFFFFF;
	text-align: left;
}

#mailForm span {
	width: 100px;
	text-align: left;
}

#mailForm  textarea {
	margin: 2px 0px;
	padding: 1px 2px;
	border: 1px solid #CCCCCC;
	resize: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#mailForm  input[type=text], #mailForm  input[type=password] {
	margin: 2px 0px;
	padding: 1px 2px;
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#mailForm  input:hover, #mailForm  textarea:hover {
	border: 1px solid #FCB400;
}

.color1 {
	color: #D62408;
}

.color2 {
	color: #21AA29;
}

.color3 {
	color: #2159D6;
}

.color4 {
	/*color: #FFCF00;*/
	color: #FCB400;
}

div.bkColor1, th.bkColor1 {
	background-color: #D62408;
}

div.bkColor2, th.bkColor2 {
	background-color: #21AA29;
}

div.bkColor3, th.bkColor3 {
	background-color: #2159D6;
}

div.bkColor4, th.bkColor4 {
	/*background-color: #FFCF00;*/
	background-color: #FCB400;
}
